@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}

header{
    position: fixed;
}

/* Sticky class */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(19, 20, 21, 0.5);
    height: 75px;
    
}

header{
    width: 100%;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(hsla(228, 76%, 7%, 0.7), hsla(228, 76%, 7%, 0.702)), url('/images/backgrnd.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    /* z-index: -1; */
}

nav {
    display: flex;
    padding: 0 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    height: 60px;
    object-fit: cover;
}

.nav-links{
    flex: 1;
    text-align: right;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li:nth-child(1):after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ad3f33;
    display: block;
    margin: auto;
}

.nav-links ul li:nth-child(n+2):after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #ad3f33;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:nth-child(n+2):hover::after{
    width: 100%;
}

.textbox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.textbox h1{
    font-size: 4rem;
}
.textbox p{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.textbox span{
    color: #ad3f33;
}

.homepage_btn{
    display: inline-block;
    text-decoration: none;
    color: #f7782a;
    border: 1px solid #0a6cb0;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.homepage_btn:hover{
    border: 1px solid #f7782a;
    background: #0a6cb0;
    transition: 1s;
}
nav .fa{
    display: none;

}

@media(max-width: 700px) {
    .textbox h1 {
        font-size: 1.8rem;
    }
    .nav-links ul li{
        display: block;
    }
    #navLinks{
        position: absolute;
        background: #f7782a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        /* z-index: 1; */
        transition: 1s;
        bottom: 0;
    }
    .nav-links ul li:nth-child(1):after {
        content: '';
        width: 0;
        height: 2px;
        background-color: #ad3f33;
        display: block;
        margin: auto;
    }

    .nav-links ul li:nth-child(n+2):after {
        content: '';
        width: 0;
        height: 2px;
        background-color: #ad3f33;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .nav-links ul li:nth-child(n+2):hover::after {
        width: 0;
    }
    nav .fa{
        display: block;
        color: #0a6cb0;
        margin: 10px;
        font-size: 10px;
        cursor: pointer;
        width: 16px;
        height: 13px;
    }
    .nav-links ul{
        padding: 30px;
    }
}


/* section-1 */

.container-1{
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    
}

.cover-projects h1{
    font-size: 36px;
    font-weight: 600;
    color: #0a6cb0;
}

.cover-projects span{
    color: #ad3f33;
}

.container-1 p{
    color: rgb(31, 29, 29);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.container-1 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.container-1 .project-col{
    flex-basis: 25%;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.container-1 .row .project-col h1{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.container-1 .row .project-col .blue{
    color: #0a6cb0;
}
.container-1 .row .project-col .maroon {
    color: #ad3f33;
}
.container-1 .row .project-col .blue {
    color: #0a6cb0;
}
.container-1 .row .project-col .ligM {
    color: #f7782a;
}

.project-col:hover{
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
}

@media (max-width: 700px) {

    .row{
        flex-direction: column;
    }
    body{
        overflow-x: hidden;
    }
    .backgound{
        flex-direction: column;
    }
}




/* about us */

.slideshow-container {
   
    position: relative;
    margin: auto;
    z-index: -1;
}


.mySlides {
    display: none;
    border: 1px solid #ad3f33;
    padding: 10px;
    border-radius: 4px;
    width: 500px;
    
}

.mySlides  img{
    width: 100%;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}



.active,
.dot:hover {
    background-color: #717171;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.backgound {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.backgound .project-col {
    flex-basis: 32%;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.backgound .blue{
    color: #0a6cb0;
}
.backgound .maroon {
    color: #ad3f33;
}
.backgound .yellow {
    color:#f7782a;
}
.backgound h1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.backgound p{
   text-align: center;
   padding: 12px 0;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.about{
    padding:2% 5%;
}

.about-rows{
    display: flex;
    
}

.about-cont{
    margin: 0 auto;
    width: 500px;
}
.about-cont h2{
    color:#0a6cb0;
}

.about-cont p{
    font-size: 16px;
}


.continue-about{
    padding-block: 20px;
}

.thematic-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, auto));
    gap: 15px;
    margin-top: 20px;
}

.thematic-box .areas:first-child{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #0a6cb0;
}
.thematic-box .areas:nth-child(2) {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #ad3f33;
}

.thematic-box .areas:nth-child(3){
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #0a6cb0;
}
.thematic-box .areas:nth-child(4) {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #f7782a;
}
.areas img{
    width: 50px;
}
.areas{
    padding: 20px;
}

.areas h5{
    color: #fff;
}

.thematic-goals{
    padding: 20px;
}
.thematic-goals li{
    list-style: disc;
}
.thematic-goals li::marker {
    /* content: "-"; */
    color: #f7782a;
    font-size: 1.2em;
    margin: 5px;
  
}
.thematic-goals ul{
    padding-left: 20px;
}

@media (max-width: 700px) {

    .about-rows {
        flex-direction: column;
        width: 100%;
    }

    body {
        overflow-x: hidden;
    } 

    .about-cont {
        margin: 0 auto;
        width: 300px;
    }
    .mySlides {
        display: none;
        border: 1px solid #ad3f33;
        padding: 10px;
        border-radius: 4px;
        width: 100%;

    }
    

    @keyframes fade {
        from {
            display: .4;
        }

        to {
            display: 1;
        }
    }
    .numbertext {
        display: none;
    }
    .next {
        display: none;
    }
    .continue-about{
        display: flex;
        width: 295px;
       margin: 0 auto;

    }

    .thematic-about p{
        font-size: 15px;
        padding: 0 12px;
    }
}


/* footer */

footer{
    background: #012239;
    padding: 3%;
    color: white;
}
footer .item2, .item3, .item1 p{
    line-height: 28px;
}
.foot img{
    width: 300px;
    height: 45px;
    object-fit: cover;
}
.fot .item2 h1{
    color: #ad3f33;
}
.fot .item3 h1{
    color: #f7782a;
}

.copyright p span{
    color: #ad3f33;
}

.fot{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-items: center;
    margin-top: 20px;
}
.copyright{
    text-align: center;
    font-size: 0.7rem;
    margin-top: 50px;
}

.social-icon .face, .twt, .insta, .you{
    width: 40px;
}
.social-icon .face img,
.twt img,
.insta img,
.you img{
    width: 100%;
}

.social-icon{
    display: flex;
    gap: 20px;

}

@media (max-width: 700px){
    .fot{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        justify-items: center;
        margin-top: 20px;
    }
    .fot .item1 h1{
        font-size: 1.5rem;
    }
    .fot .item2 h1{
        text-align: left;
        font-size: 1.5rem;
    }
    .fot .item3 h1 {
        text-align: left;
        font-size: 1.5rem;
    }
}

